<div class="container my-5">
  <app-products></app-products>

  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src={{productData.image}} alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">ID: {{ productData.id }}</h5>
      <h5 class="card-title">Name: {{ productData.name }}</h5>
      <h5 class="card-title">Price: {{ productData.price }}</h5>
      <h5 class="card-title">quantity: {{ productData.quantity }}</h5>
    </div>
  </div>
  <br />
  <br />
</div>
